.HomepageReviews{
  padding-top: 60px;
  padding-bottom: 50px;
  background: $bg-gray;
  text-align: center;
}
.ReviewsSlider__container{
  position: relative;
  width: 726px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.ReviewsSlider__slider__arrow{
  position: absolute;
  top: 70%;
  @include prefix(transform, translateY(-50%));
}
.ReviewsSlider__slider__arrow--left{
  left: -50px;
}
.ReviewsSlider__slider__arrow--right{
  right: -50px;
}
.ReviewsSlider__stars{
  margin-bottom: 15px;
}
.ReviewsSlider__source{
  @include flex();
  @include justify-content(center);
  @include align-items(center);
  margin-bottom: 25px;
}
.ReviewsSlider__source__image{
  text-align: center;
  img{
    display: inline-block;
    vertical-align: middle;
  }
}
.ReviewsSlider__source__person{
  text-align: left;
  @include garI(1.6rem);
}
.ReviewsSlider__body{
  font-size: 2.4rem;
}

@include maxQuery(850px){
  .HomepageReviews__heading{
    font-size: 2.4rem;
  }
  .ReviewsSlider__slider__arrow{
    top: 20%;
  }
  .ReviewsSlider__slider__arrow--left{
    left: 20px;
  }
  .ReviewsSlider__slider__arrow--right{
    right: 20px;
  }
  .ReviewsSlider__body{
    font-size: 2rem;
  }
}

@include s(){
  .ReviewsSlider__slider__arrow{
    top: 20%;
  }
}