.ShopByCategory__heading{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  @include s(){
    font-size: 2.4rem;
    margin-bottom: 25px;
  }
}
.ShopByCategory__collections{
  @include flex();
  flex-flow: row wrap;
  @include justify-content(space-between);
}
.ShopByCategory__collection{
  text-align: center;
  &:hover{
    .ShopByCategory__collection__link{
      color: $font-color;
    }
    .ShopByCategory__collection__image{
      background-color: #c69f51cc;
    }
  }
}
.ShopByCategory__collection__image{
  height: 138px;
  width: 138px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 138px;
  background-color: #c69f514d;
  @include flex();
  @include align-items(center);
  @include justify-content(center);
  transition: background-color .3s;
  margin-bottom: 20px;
}
@include maxQuery(980px){
  .ShopByCategory__collection{
    width: 33.333%;
  }
}
@include maxQuery(550px){
  .ShopByCategory__collection__heading{
    font-size: 1.6rem;
  }
  .ShopByCategory__collection__image{
    width: 80px;
    height: 80px;
    img{
      max-width: 50%;
      max-height: 50%;
    }
  }
}