.ShopByFormula__container{
  background-color: $bg-gray;
}
.ShopByFormula__heading{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  @include s(){
    margin-bottom: 25px;
  }
}

.ShopByFormula__collections-header{
  display: flex;
  justify-content: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.ShopByFormula__collections__header__left{
  width: 350px;
}
.ShopByFormula__collections__header__right{
  width: 650px;
}
.ShopByFormula__collections__header__right-content{
  padding-left: 60px;
}
.ShopByFormula__ingredients{
  padding-right: 60px;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 250px;
  max-width: 100%;
  margin-right: 0;
  margin-left: auto;
  &:after{
    content:'';
    display: block;
    position: absolute;
    right: 0;
    width: 2px;
    top: 50%;
    @include prefix(transform, translateY(-50%));
    height: 65px;
    background-color: $border-dark;
  }
}
.ShopByFormula__ingredient{
  flex: 1;
  text-align: right;
}
.ShopByFormula__ingredient__label{
  display: block;
  @include garI(1.8rem);
}
.ShopByFormula__description a{
  @include garI(1.6rem);
  text-transform: none;
  text-decoration: underline;
}
.ShopByFormula__controls{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ShopByFormula__control{
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  transition: color .3s, border-color .3s;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  font-size: 2.4rem;
  color: $inactive;
  margin-bottom: 0;
  &:hover{
    background: transparent;
    color: $font-color;
    border-color: transparent;
  }
}
.ShopByFormula__control.active{
  border-bottom: 2px solid $border-dark;
  color: $font-color;
}
.ShopByFormula__slider-container{
  position: relative;
}
.ShopByFormula__slider__arrow{
  position: absolute;
  top: 50%;
  @include prefix(transform, translateY(-50%));
  svg path{
    transition: stroke .3s;
  }
  &:hover{
    cursor: pointer;
    svg path{
      stroke: $accent !important;
    }
  }
}
.ShopByFormula__slider__arrow--left{
  left: 0;
}
.ShopByFormula__slider__arrow--right{
  right: 0;
}
.ShopByFormula__slide{
  .CollectionProduct__column{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .CollectionProduct__image-container{
    justify-content: center;
    a{
      @include flex();
      @include align-items(flex-end);
      @include justify-content(center);
      height: 310px;
    }
    img{
      max-height: 230px;
    }
  }
  .CollectionProduct .Btn{
    background-color: transparent;
    &:hover{
      background-color: $accent;
    }
  }
}
.ShopByFormula__mobile-link{
  display: none;
}
@include maxQuery($s){
  .ShopByFormula__heading{
    font-size: 2.4rem;
  }
  .ShopByFormula__collections__header__left,
  .ShopByFormula__descriptions{
    display: none;
  }
  .ShopByFormula__collections__header__right{
    width: 100%;
  }
  .ShopByFormula__collections__header__right-content{
    padding-left: 0;
  }
  .ShopByFormula__controls{
    width: 350px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .ShopByFormula__control{
    font-size: 1.6rem;
  }
  .ShopByFormula__slide{
    .CollectionProduct:hover .CollectionProduct__image-container a{
      @include align-items(flex-end);
    }
    .CollectionProduct__image-container{
      a{
        height: 230px;
      }
    }
    .CollectionProduct .Btn{
      width: 150px;
    }
  }
  .ShopByFormula__mobile-link{
    margin-top: 30px;
    display: block;
    text-align: center;
    @include garI(1.6rem);
    text-decoration: underline;
    text-transform: none;
  }
}