/* Navigation =================================================================*/

// Toggled Nav
.theme-nav-toggled {
  .dropdown-menu {
    display: none;
    margin-left: $spacing;
    &.visible {
      display: block;
    }
  }
}

// Pagination
.pagination {
  a, .page.current {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .deco {
    display: inline-block;
    min-width: $gutter;
    height: $gutter;
    text-align: center;
    line-height: ($gutter - $borderWeight*2);
    text-decoration: none;
    font-size: 1.125rem;
    color: $colorBrand;
    padding: 0 $gutter/4;
  }
}
