.CollectionProduct{
  text-align: center;
}
.CollectionProduct__image-container{
  min-height: 268px;
  background: $bg-gray;
  @include flex();
  @include align-items(flex-end);
}
.CollectionProduct__button-text{
  position: relative;
  .fas{
    position: absolute;
    top: 50%;
    @include prefix(transform, translateY(-50%));
    font-size: 15px;
    right: -20px;
  }
}