<div id="Quickview" class="Quickview__popup js-quickviewPopup popup">
  <div class="overlay js-overlay"></div>
  <div class="Quickview__inner">
    <div class="popup-content">
      <div class="Quickview__header">
        <h2 class="Quickview__header__heading">{{'product.quickview' | t }}</h2>
        <a href="#close" class="Quickview__close js-quickviewClose" aria-label="{{ 'common.close' | t }}">
          {% include 'custom-icon' with icon:'close' %}
        </a>
      </div>
      <div class="Quickview__popup-content js-content">
        
      </div>
    </div>
  </div>
</div>