.pagination{
  a{border: none;}
  .page{
    opacity: .5;
    a{@include din(2.4rem);}
    border: none;
    background: none;
    color: $font-color;
    transition: opacity .3s;
    &:hover{
      opacity: 1;
      background: transparent;
    }
    width: 40px;
    text-align: center;
    display: inline-block;
  }
  .page.current{
    opacity: 1;
    @include din(2.4rem);
    border: none;
    color: $font-color;
    background-color: transparent;
    &:hover{
      background: transparent;
    }
  }
  .next,.prev{
    display: none;
  }
}