.Quantity{
  @include flex();
}
.Quantity__control{
  @include din(1.8rem);
  background: transparent;
  border: none;
  color: $font-color;
  padding: 0;
  &:hover{
    background: transparent;
    color: $font-color;
  }
}
input[type="number"].Quantity__state,
.Quantity__state{
  @include din(1.8rem);
  border: none;
  background: none;
  max-width: 80px;
  text-align: center;
}
