.Social__links{
  display: block;
  text-align: left;
}
.Social__link{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  &:first-of-type{
    margin-left: 0;
  }
  a{color: white;}
}