html{
  font-size: 62.5%;
}
body{
  background: white;
  color: $font-color;
}
h1{
  @include din(4.8rem);
}
h2{
  @include din(3.6rem);
}
h3{
  @include din(2.4rem);
}
p,
.rte{
  @include garI(1.8rem);
}

button{
  @include din(2rem);
}

a{
  color: $font-color;
  text-decoration: none;
  &:hover,
  &:focus{
    color: $accent;
  }
}
.Link--underline{
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  &:after{
    display: inline-block;
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $font-color;
    opacity: 0;
    transition: opacity .4s, background-color .4s;
  }
  &:hover{
    &:after{
      opacity: 1;
      background-color: $accent;
    }
  }
}
.Text--border-style{
  border-top: 1px solid $accent;
  border-bottom: 1px solid $accent;
  display: inline-block;
  color: $accent;
  text-transform: uppercase;
  @include din(1.4rem);
  padding-left: 10px;
  padding-right: 10px;
}