html{
  font-size: 62.5%;
}
body{
  background: white;
  color: $font-color;
}
h1,.h1{
  @include din(4.8rem);
  @media screen and (max-width: $s){
    font-size: 2.4rem;
  }
}
h2,.h2{
  @include din(3.6rem);
}
h3,.h3{
  @include din(2.4rem);
}

p,
.p,
.rte{
  @include garI(1.8rem);
}

button{
  @include din(2rem);
  border-radius: 0;
}
.Btn{
  width: 180px;
  padding: 0;
  border: 2px solid $border-dark;
  color: $font-color;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  &:hover{
    background-color: $accent;
    color: white;
    border-color: $accent;
  }
}
.Btn--added{
  background-color: $accent2;
  border-color: $accent2;
  color: white;
}
.Btn--soldout{
  background: transparent !important;
  border-color: $disabled !important;
  color: $disabled !important;
}

a{
  @include din(1.8rem);
  color: $font-color;
  text-decoration: none;
  &:hover,
  &:focus{
    color: $accent;
  }
}
.Link--underline{
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  &:after{
    display: inline-block;
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $font-color;
    opacity: 0;
    transition: opacity .4s, background-color .4s;
  }
  &:hover{
    &:after{
      opacity: 1;
      background-color: $accent;
    }
  }
}
.Text--border-style{
  border-top: 2px solid $accent;
  border-bottom: 2px solid $accent;
  display: inline-block;
  color: $accent;
  text-transform: uppercase;
  @include din(1.4rem);
  padding: 5px 10px;
  background: transparent;
  border-right: none;
  border-left: none;
  &:hover{
    background: transparent;
    border-color: $accent;
    color: $accent;
  }
}

input{
  background: white;
  height: 40px;
  padding-left: 20px;
  @include garI(1.6rem);
  @include placeholder{
    @include garI(1.6rem);
  }
}
/* Slider Defaults */
.slick-dots{
  @include inline-flex();
  li button:before {
   content:"";
  }
  li button {
    font-size: 0px;
    height: 10px;
    width: 10px;
    padding: 0px;
    margin: 0px 5px;
    border-radius: 10px;
    background: transparent;
    border-color: white;
    border: 2px solid white;
  }
  li.slick-active button {
    background: white;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}