.ProductReviews{
  .jdgm-rev-widg{
    border: none;
  }
  .jdgm-histogram{
    display: none !important;
  }
  .jdgm-rev-widg__title{
    text-align: center;
    width: 100%;
    display: block;
    @include s(){
      font-size: 2.4rem;
    }
  }
  .jdgm-star{
    color: $accent;
  }
  .jdgm-rev-widg__header{
    @include flex();
    flex-flow: row wrap;
  }
  .jdgm-rev-widg__summary{
    width: 100%;
    text-align: center;
  }
  .jdgm-rev-widg__sort-wrapper{
    display: none;
  }
  .jdgm-write-rev-link{
    margin-top: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    @include s(){
      width: auto;
    }
  }
  .jdgm-form__rating{
    display: block;
    text-align: left;
  }
  .jdgm-form-wrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    label{
      font-size: 1.8rem;
      display: block !important;
      text-align: left;
    }
    textarea{
      @include garI(1.8rem);
    }
    .jdgm-submit-rev{
      @include din(1.8rem);
      padding: 0;
      line-height: 40px;
    }
  }
  @include s(){
    .jdgm-rev-widg{
      padding: 0;
      margin: 0;
    }
  }
}

.jdgm-preview-badge .jdgm-star{
  color: $accent !important;
}