.Header{
  position: relative;
}
.Header__container{
  width: 900px;
}
.Header__user-row{
  height: 80px;
  @include flex();
  @include align-items(center);
  flex-flow: row wrap;
}
.Header__logo{
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 21;
  @include prefix(transform, translateX(-50%));
}

@include maxQuery(800px){
  .Header{
    height: 62px;
  }
  .Header__user-row{
  }
  .Header__decoration{
    display: none;
  }
  .Header__logo{
    top: 5px;
    img{
      width: 100px;
    }
  }
}