.Header{
  position: relative;
}
.Header__container{
  width: 900px;
}
.Header__user-row{
  height: 80px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  @include align-items(center);
  flex-flow: row wrap;
}
.Header__logo{
  position: absolute;
  left: 50%;
  top: 20px;
  z-index: 21;
  @include prefix(transform, translateX(-50%));
}
.Header__hamburger{
  display: none;
}

.Header__content{
  width: 240px;
  max-width: 100%;
  margin-left: auto;
  @include flex();
  @include align-items(center);
  @include justify-content(space-between);
  @include s(){
    @include justify-content(flex-end);
  }
}
.Header__icon{
  @include flex();
  @include align-items(center);
  @include justify-content(center);
}
.Header__search{
  position: relative;
  button{
    position: absolute;
    right: 10px;
    top: 50%;
    @include prefix(transform, translateY(-50%));
  }
  form{
    background: white;
    border: 1px solid $border-light;
    opacity: 0;
    z-index: -1;
    position: absolute;
    right: -230px;
    width: 200px;
    padding-right: 20px;
    max-width: initial;
    transition: opacity .3s;
  }
  input{
  }
}
.Header__search-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: transparent;
  display: none;
}
.Header__search.active{
  .Header__search-trigger{
    opacity: 0;
  }
  form{
    z-index: 3;
    opacity: 1;
  }
  .Header__search-overlay{
    display: block;
  }
}
.Header__cart{
  @include flex();
  @include align-items(center);
  @include garI(1.2rem);
}
.Header__cart-price{
  display: inline-block;
  margin-right: 10px;
}
.Header__cart--mobile{
  display: none;
}

@include maxQuery(800px){
  .Header{
    height: 62px;
  }
  .Header__user-row{
    height: 62px;
  }
  .Header__decoration,
  .Header__price,
  .Header__user,
  .Header__search,
  .Header__cart--desktop{
    display: none;
  }
  .Header__cart--mobile{
    display: inline;
  }
  .Header__hamburger{
    display: inline-block;
    bottom: -3px;
    position: relative;
  }
  .Header__hamburger.active{
    z-index: 10001;
  }
  .Header__hamburger.active.with-promobar{
    bottom: 27px;
  }
  .Header__logo{
    top: 5px;
    img{
      width: 100px;
    }
  }
}